docs/** linguist-documentation
man/** linguist-documentation
pkgdown/** linguist-documentation
tools/readme/** linguist-documentation
vignettes/** linguist-documentation
inst/htmlwidgets/lib/** linguist-vendored
